langchain>=0.2.0
langchain-community>=0.2.0
langchain-text-splitters>=0.2.0
langchain-core>=0.2.0
langchain-openai>=0.0.2
chromadb>=0.5.0
streamlit
python-dotenv
sentence-transformers
google-cloud-storage
google-cloud-firestore
google-auth
pysqlite3-binary
pysqlite3-binary
