langchain
langchain-community
langchain-text-splitters
langchain-core
chromadb
streamlit
python-dotenv
sentence-transformers
ollama
google-cloud-storage
google-cloud-firestore
google-auth
pysqlite3-binary
